extends layout

include _includes/sharedHTMLfunctions

block content
 app-home-list Loading
      
   .col-12.col-md-4
      p.lead= sidebar  
block scripts
      script(src='/build/runtime.261aad66f55010d1.js')
      script(src='/build/polyfills.f2231f61b033d0a5.js')
      script(src='/build/main.f169a9c6e3be62fc.js')
      

